@charset "UTF-8";
.flat {
  display: flex;
  justify-content: center;
}
.button1 {
  line-height: 15px;
  color: #fff;
  padding: 15px;
  cursor: pointer;
}
.button2 {
  line-height: 15px;
  color: #000;
  padding: 15px;
  cursor: pointer;
}
.red--box {
  background: #fd0f0fd9;
  margin: 15px;
  border-radius: 10px;
}
.blue--box {
  background: #170ffdd9;
  margin: 15px;
  border-radius: 10px;
}
.green--box {
  background: #0ffd0fd9;
  margin: 15px;
  border-radius: 10px;
}
.red2--box {
  background: #fd0f0fd9;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 0 0px rgba(63, 5, 5, 0.851);
}
.blue2--box {
  background: #170ffdd9;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 0 0px rgba(63, 5, 5, 0.851);
}
.green2--box {
  background: #0ffd0fd9;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 0 0px rgba(63, 5, 5, 0.851);
}
.red3--box {
  background: #fd0f0fd9;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 0 0px rgba(63, 5, 5, 0.851);
}
.red3--box:active {
  box-shadow: none;
  transform: translateY(5px);
}
.blue3--box {
  background: #170ffdd9;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 0 0px rgba(63, 5, 5, 0.851);
}
.blue3--box:active {
  box-shadow: none;
  transform: translateY(5px);
}
.green3--box {
  background: #0ffd0fd9;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 0 0px rgba(63, 5, 5, 0.851);
}
.green3--box:active {
  box-shadow: none;
  transform: translateY(5px);
}
.button3 {
  line-height: 15px;
  color: #67c5ff;
  padding: 15px;
  cursor: pointer;
}
.button4 {
  line-height: 15px;
  color: #0079a5f8;
  padding: 15px;
  cursor: pointer;
  transition: .5s;
}
.left--box {
  border: #67c5ff 4px double;
  border-radius: 10px;
  margin: 15px;
}
.center--box {
  border: #67c5ff 4px dotted;
  border-radius: 10px;
  margin: 15px;
}
.right--box {
  border: #67c5ff 4px dashed;
  border-radius: 10px;
  margin: 15px;
  background: #d0edfff8;
}
.left--box:hover {
  background: #fffbef;
}
.center--box:hover {
  border: #67c5ff 4px dashed;
}
.right--box:hover {
  background: #ffffff;
}
.button4:hover {
  color: #67c5ff;
}